**.DS_Store
*.steady10
model.pt

Datasets/polyBERT/
Datasets/PSMILES/
Datasets/**/Tg_combined/**
Datasets/**/PolyInfo/**
Datasets/**/MD_*/**

Models/polyBERT/pSMILES_pBERT_dict.pkl
Models/polychemprop_model/**/fold*/**
Models/polymer_periodic_graph/**/fold*/**
Models/RDKit_RF/**/fold*/**
Models/polyBERT/**/fold*/**
*.log
/**/PolyInfo
*scores.csv
**args.json

#temp
Models/polymer_periodic_graph/Polymer_Model/**
Models/polychemprop_model/polymer-chemprop-master/**
Cleanup/**

