# Polymer-chemprop: Modified chemprop for polymer property prediction
# Paper: Aldeghi & Coley, Chem. Sci. 2022, 13, 10486-10498
# Repository: https://github.com/rlearsch/polymer-chemprop
#
# Pinned to specific commit for reproducibility
git+https://github.com/rlearsch/polymer-chemprop.git@3aa25f994b4d8d34aa14ab2b9018a81f69c16894


# Additional dependencies (included in chemprop's install_requires, but listed for clarity)
pandas>=1.0.3
numpy>=1.18.1
torch>=1.5.1
scikit-learn>=0.22.2
rdkit>=2020.03.1
setuptools~=69.5.1
